$white: #fff;
$card_color: #303f9f;
$icon_bg_color: #283593;

.tiles {
	width: 100%;
	color: $white;

	&__tile {
		min-height: 100px;
		background: $card_color;
		margin: 3px;
		cursor: pointer;
		position: relative;
	}

	&__info {
		display: flex;
		pointer-events: none;
	}

	&__icon {
		background-color: $icon_bg_color;
		width: 100px;
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #283593;
		flex-direction: column;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 600;
	}

	&__weather {
		padding: 0 0 0 15px;
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
		&__text {
			padding: 10px 10px;
			font-size: 20px;
			color: #c7cef5;
		}
		&__more-text {
			padding: 0 10px;
    	font-size: 12px;
		}
	}

	&__detailed {
		width: 100%;
		height: 0;
		overflow: hidden;
		-webkit-transition: height 0.20s ease-in;
		-moz-transition: height 0.20s ease-in;
		-o-transition: height 0.20s ease-in;
		transition: height 0.20s ease-in;
		background: $icon_bg_color;
		:after {
			content: "";
			width: 0;
			height: 0;
			position: absolute;
			right: 10px;
			top: 48px;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-top: 5px solid $white;
		}
	}
}

.expanded {
	height: 100px;
	:after {
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid #fff;
		border-top: none;
	}
}