$white: #fff;
$input_bg_color: #283593;
$input_border_color: #6472df;

.header {
	color: $white;
	text-align: center;
	margin-bottom: 1rem;
	&__input {
		font-size: 13px;
		padding: 10px;
		background: $input_bg_color;
		border: none;
		border-radius: 4px;
		color: $white;
		width: 230px;
		text-transform: uppercase;
		outline: none;
	}

	&__btn {
		background-color: $input_bg_color;
		color: $white;
		border: none;
		padding: 10px;
		border-radius: 4px;
		cursor: pointer;
		margin-left: 0.4rem;
	}
	
	&__error {
		color: red;
	}
}